h1 {
  color: #E0E0E0;
  font-family: 'Michroma' sans-serif;
  font-size: 70px;
  text-align: center;
  padding-top: 100px;
}


body {
  background-color: #212121;
  background-image:
  #slideshow {
    margin: 50px auto;
    position: relative;
    width: 599px;
    height: 350px;
    padding: 10px;
   /*box-shadow: 0 0 20px rgba(0,0,0,0.4);*/
}

#slideshow > div {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
}

img {
  height: 100%;
  width: 100%;
  opacity: 0.1;
  filter: alpha(opacity=30);
}
}

footer {
  text-align: center;
  color: #E0E0E0;
  font-family: 'Michroma' sans-serif;
  position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height:100px;
}
